* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/*=====================FONTS=====================*/
@font-face {
  font-family: Neue-montreal;
  src: url("../fonts/PPNeueMontreal-Book.otf");
}

:root {
  --bg-color: #0e0e0e;
  --color: #efefee;
  --secundary-color: #7b7b7b;
  --other-color: #1c1c1c;
  --text-cta: 17px;

  --title-size: 9vw;
  --subtitles-size: 40px;
  --text-size: 18px;
}

body {
  background-color: var(--bg-color);
  font-family: Neue-montreal;
  color: var(--color);
}

.container {
  padding: 1.5rem;
}

#container__all {
  width: 100%;
  overflow: hidden;
  height: auto;
}

/*===============header==============*/
.header {
  width: 100%;
  height: 60vh;
}

.nav {
  position: fixed;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  z-index: 10;
}
.name__site {
  font-size: 20px;
}

/*===========menu toggle btn ===========*/
.menu-toggle-btn {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s;
}

.span {
  height: 1px;
  background-color: white;
  width: 24px;
  display: inline-block;
  position: absolute;
  top: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

.span::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 1px;
  background-color: white;
  transform: translateY(-4px);
  width: 24px;
  transition: all 0.3s;
  top: -3px;
  cursor: pointer;
}
.active .span {
  transform: rotate(45deg);
  background-color: #fff;
}

.active .span::before {
  top: unset;
  transform: rotate(-90deg);
  background-color: #fff;
}

.active:hover .span::before {
  top: unset;
}



/*================menu responsive============*/
.nav__responsive {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  transform: translateY(-100%);
  z-index: 5;
}

.container__responsive {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
.container__responsive ul {
  list-style: none;
  /*margin-bottom: 2rem;*/
}

.container__responsive ul li {
  overflow: hidden;
}

.container__responsive ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 50px;
  display: inline-block;
}

.footer__social {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 12px;
}
.footer__social a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
}




.hero {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.container__hero {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.title__hero {
  font-size: var(--title-size);
  line-height: 0.9;
}
.container__hero .p {
  display: flex;
  align-items: end;
  font-size: 14px;
}

.container__hero .p p {
  font-size: 14px;
}

.box__img {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 1rem;
}

.box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*==================GRID DESKTOP==================*/
.container__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 80vh);
  gap: 5px;
  margin: 10px;
  border-radius: 90%;
}

.grid {
  border-radius: 5px;
  padding: 1.5rem;
}

.grid p {
  font-size: 14px;
}

.num {
  color: var(--secundary-color);
}

.grid2 {
  display: flex;
  align-items: end;
}

.grid2 .link {
  color: var(--color);
  font-size: var(--subtitles-size);
  text-decoration: none;
}

.grid1,
.grid4 {
  background-color: var(--other-color);
}

.grid4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
}

.box-img__grid4 {
  background-color: #000;
  display: inline-block;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.box-img__grid4 img {
  width: 40px;
  height: 40px;
}

.grid4 .txt {
  font-size: 30px;
  line-height: 1;
}

.grid4 .txt2 {
  color: var(--secundary-color);
}

/*===============================GRID MOBILE=======================*/
.container__mobile {
  margin: 5px;
  display: flex;
  flex-direction: column;
  display: none;
}

.card__mobile {
  background-color: var(--other-color);
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  margin-top: 5px;
}

.header__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10vw 2vw;
}

.item__name {
  font-size: 8vw;
}

.header__card a {
  font-size: 3vw;
  text-decoration: none;
}

.card__mobile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.four__mobile {
  margin-top: 10px;
}

/*=============footer======================*/

footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  color: var(--secundary-color);
  align-items: center;
}

footer p {
  font-size: 14px;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 1.5rem;
  justify-content: center;
}

footer ul li {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.3px);
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-size: 11px;
}

@media screen and (max-width: 990px) {
  /*==========hero============*/
  .container__hero {
    flex-direction: column;
    gap: 2rem;
  }

  .title__hero {
    font-size: 11vw;
  }
}

@media screen and (max-width: 767px) {
  .container__grid {
    display: none;
  }

  .container__mobile {
    display: block;
  }

  .texto__ul {
    font-size: 4vw;
  }

  .grid4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    height: 60vh;
    padding: 1.5rem;
  }
}

@media screen and (max-width: 376px) {
  .title__hero {
    font-size: 15vw;
    line-height: 0.9;
  }
}
